<section class="container  w-50">
  <div class="d-flex justify-content-center align-items-center flex-column">
    <h1 class="row m-3"> Undo&redo from</h1>
    <userForm [formGroup]="userForm" (ngSubmit)="onSubmit()" class="row">
      <div class="p-field col-lg-12">
        <label for="name">Name</label>
        <!-- <input class="form-control" id="name" type="text" pInputText formControlName="name" /> -->
        <input type="test" class="form-control" id="exampleInputEmail1" formControlName="name">

        <p-message *ngIf="userForm.controls['name']?.invalid && userForm.controls['name']?.touched" severity="error"
          text="Name is required."></p-message>
      </div>

      <div class="p-field col-lg-12">
        <label for="age">Age</label>
        <!-- <input class="form-control" id="age" type="number" pInputText formControlName="age" /> -->
        <input class="form-control" id="age" type="number" formControlName="age" />
        <p-message *ngIf="userForm.controls['age'].invalid && userForm.controls['age'].touched" severity="error"
          text="Age is required and must be at least 18."></p-message>
      </div>
      <div class="p-field col-lg-12">
        <label for="age">Description</label>
        <!-- <input class="form-control" id="age" type="number" pInputText formControlName="age" /> -->
        <input class="form-control" id="age" type="textarea" formControlName="description" />
        <p-message *ngIf="userForm.controls['description'].invalid && userForm.controls['description'].touched"
          severity="error" text="Description is required"></p-message>
      </div>

      <div class="p-field col-lg-12">
        <label for="gender">Gender</label>
        <!-- <p-dropdown class="col-lg-12" [options]="genders" formControlName="gender"></p-dropdown> -->
        <select class="form-select" aria-label="Default select example" formControlName="gender">
          <option selected hidden>Gender</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
          <option value="3">Other</option>
        </select>
        <p-message *ngIf="userForm.controls['gender'].invalid && userForm.controls['gender'].touched" severity="error"
          text="Gender is required."></p-message>
      </div>

      <div class="p-field-checkbox col-lg-12 d-flex align-items-center m-2">
        <!-- <p-checkbox formControlName="agreeToTerms" binary="true"></p-checkbox> -->
        <input class="form-check-input" formControlName="agreeToTerms" type="checkbox" value="" id="flexCheckDefault">

        <label for="agreeToTerms" class="mx-2">Agree to Terms</label>
        <p-message *ngIf="userForm.controls['agreeToTerms'].invalid && userForm.controls['agreeToTerms'].touched"
          severity="error" text="You must agree to the terms."></p-message>
      </div>


      <div class="d-flex justify-content-center w-100 m-3">
        <div class="d-flex justify-content-between w-75">
          <button type="button" pButton (click)="undo()" [disabled]="currentIndex <= -1">Undo</button>
          <button type="button" pButton (click)="redo()"
            [disabled]="currentIndex >= formHistory.length - 1">Redo</button>
          <button type="submit" pButton class="p-button-success" label="Submit" (click)="onSubmit()"
            [disabled]="userForm.invalid"></button>
        </div>
      </div>
    </userForm>
  </div>
</section>
<p-toast position="top-right" [life]="3000"></p-toast>